<div class="container">
    <%= form_tag users_path do %>
        <h2>Rergistrar</h2>

        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="name" class="form-control" id="nome" placeholder="Nome">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Tipo</label>
            <select name="user_type_id" class="form-control">
                <option value="1">Aluno</option>
                <option value="2">Professor</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="exampleInputEmail1">Matricula</label>
            <input type="text" name="document_number" class="form-control" id="exampleInputEmail1" placeholder="Matricula">
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
    <% end %>
</div>